<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".FeedItApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appRoundIcon}"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeedIt">
        <activity
            android:name=".ui.activities.FeedArticlesActivity"
            android:parentActivityName=".ui.activities.FeedManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.AddEditFeedActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.TagManagementActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.FeedManagementActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.ArticleDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>